body {
  background-color: #efc;
  display: grid;
  grid-template-rows: 3lh 1fr;
  margin: 4px;

  .page-title {
    margin-left: 0.2em;
    width: 15em;
    height: 1.2lh;
    font-size: 2em;
    color: #555;
  }

  h1.page-title {
    cursor: pointer;
  }

  input.page-title {
    align-self: center;
  }
}

#signature {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 1em;
  font-size: small;
  color: #8882;
  pointer-events: none;
}

/* upper menu */
section#menu {
  position: fixed;
  background-color: #8884;
  padding: 0.4lh 1em;
  right: 1.5em;
  top: 0.5lh;
  z-index: 1000;
  display: flex;
  gap: 2em;
  align-items: center;
  border-radius: 0.4em;

  .buttons {
    display: flex;
    gap: 1em;

    button {
      height: 3em;
      width: 6em;
      border-radius: 1.5em;
      border-color: #ccc;
    }

    button.clear {
      background-color: #fed;
    }

    button.load {
      background-color: #dfe;
    }

    button.save {
      background-color: #def;
    }
  }
}

section#main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  justify-items: center;
  align-content: start;
  align-items: center;
  gap: 0.2em;
  margin: 0.2em;
  padding: 5px;
  background-color: #fce;
}

div.cell {
  height: 7.2lh;
  width: 8.8em;
  background-color: #eef;
  border-bottom: 3px solid #cbc;
  border-right: 2px solid #cbc;
  box-sizing: border-box;

  button.delete-cell {
    padding: 0;
    background-color: #fcc;
    border-radius: 20%;
    border-style: none;
    opacity: 0.6;
  }

  button.delete-cell:hover {
    opacity: 1;
  }

  .header {
    width: 100%;
    place-items: center;
    gap: 0.2em;
    min-height: 1lh;
    box-sizing: border-box;


    p {
      justify-self: start;
      width: 100%;
      height: 100%;
      padding: 0 0.2em;
      margin: 0;
      box-sizing: border-box;
      background-color: #fed;
    }
  }

  .content {
    width: 100%;
    height: 100%;
    background-color: #ddd;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0.1em;
    text-align: center;
    text-wrap: balance;
    white-space: pre-wrap;
    overflow-y: auto;
    scrollbar-width: thin;
    box-sizing: border-box;
  }

  input {
    justify-self: start;
    width: 100%;
    height: 100%;
    padding: 0 0.2em;
    margin: 0;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    height: 100%;
    padding: 0.25em;
  }

  input:focus,
  textarea:focus {
    text-align: start;
    background:
      linear-gradient(000deg, #fdb 0.1em, #fff0 0.4em),
      linear-gradient(090deg, #fdb 0.1em, #fff0 0.4em),
      linear-gradient(180deg, #fdb 0.1em, #fff0 0.4em),
      linear-gradient(270deg, #fdb 0.1em, #fff0 0.4em),
      #fff;
  }
}

div.card-cell {
  display: grid;
  grid-template-areas:
    "side-bar main";
  grid-template-columns: 0.9em 1fr;
  justify-content: start;
  align-items: center;
  padding: 0;
  gap: 0.15lh;
  box-sizing: content-box;
  clip-path: polygon(0.9em 0, 100% 0, 100% 100%, 0 100%, 0 0.9em);

  .side-bar {
    grid-area: side-bar;
    width: 100%;
    height: 100%;
  }

  .main {
    grid-area: main;
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    justify-content: start;
    gap: 0.15em;
    padding: 0.1em;
    box-sizing: border-box;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr min-content;
    width: 100%;

    .cell-title {
      width: 100%;
      height: 100%;
    }

    button.delete-cell {
      width: 1.6em;
      height: 1.6em;
      line-height: 100%;
      margin: 0 0.1em;
    }
  }

  .content {
    flex-grow: 1;
    height: 100%;
  }
}

/* grab cell */
.cell .side-bar.grab-cell {
  border-right: 2px solid #ccc;
  background: #ddf;
  cursor: grab;
  user-select: none;
  opacity: 0.6;
  clip-path: polygon(0.9em 0, 100% 0, 100% 100%, 0 100%, 0 0.9em);
}

.cell .side-bar.grab-cell:hover {
  opacity: 1;
}

.cell.dragging .grab-cell {
  background: #faf;
}
.cell.dragging {
  position: relative;
  z-index: 9999;

}
.meta-cell.grab-marker {
  width: 0.9em;
  border-radius: 0;
  border: none;
  background: #cfc;
  /* linear-gradient(135deg, #0000 0.9em, #cfc 0.9em); */
  clip-path: polygon(0.9em 0, 100% 0, 100% 100%, 0 100%, 0 0.9em);
}

#grab-marker.hidden {
  display: none;
}

.meta-cell.button-container {
  opacity: 0.6;
  display: grid;
  place-content: center;
  border-radius: 1em;
  scale: 0.88;

  button p {
    margin: 0.1lh;
    font-size: 0.8em;
    opacity: 0.6;
  }

  button.add-cell {
    height: 5lh;
    width: 6em;
    border-radius: 25%;
    border-color: #ccc;
  }
}

/* hover-to-show mode */
div.cell:hover {
  opacity: 1;
}

section#main.hover-to-show div.cell:not(:hover) .content {
  opacity: 0;
}