body {
  background-color: #efc;
  display: grid;
  grid-template-rows: 3lh 1fr;
  margin: 4px;  
}
}

body h1.page-title {
  width: 40vw;
  color: #555;
  cursor: pointer;
}

body input.page-title {
  width: 16em;
  height: 1.2lh;
  font-size: 2em;
  align-self: center;
}

/* upper menu */
section#menu {
  position: fixed;
  background-color: #8884;
  padding: 0.4lh 1em;
  right: 1.5em;
  top: 0.5lh;
  z-index: 1000;
  display: flex;
  gap: 2em;
  align-items: center;
  border-radius: 0.4em;
}

section#menu .buttons {
  display: flex;
  gap: 1em;
}

section#menu .buttons button {
  height: 3em;
  width: 6em;
  border-radius: 1.5em;
  border-color: #ccc;
}

section#menu .buttons button.clear {
  background-color: #fed;
}

section#main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  justify-items: center;
  align-content: start;
  align-items: center;
  gap: 0.25em;
  margin: 0.5em;
  padding: 5px;
  background-color: #fce;
}

div.cell {
  height: 8lh;
  width: 8.4em;
  background-color: #eef;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 0.25em;
  gap: 0.15lh;
  border-bottom: 3px solid #cbc;
}

div.cell .header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr min-content;
  place-items: center;
  gap: 0.2em;
  min-height: 1lh;
  box-sizing: border-box;
}

div.cell .header p {
  justify-self: start;
  width: 100%;
  padding: 0 0.2em;
  margin: 0;
  box-sizing: border-box;
  background-color: #ccc;
}

div.cell .header input {
  justify-self: start;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

div.cell .header button.delete-cell {
  width: 1.6em;
  height: 1.6em;
  line-height: 100%;
  margin: 0 0.1em;
  padding: 0;
  background-color: #fcc;
  border-radius: 20%;
}

div.cell .content {
  flex-grow: 1;
  width: 100%;
  background-color: #ddd;
  display: grid;
  place-items: center;
  font-size: small;
  white-space: pre-wrap;
  margin: 0;
  padding: 0.1em;
  text-align: center;
  text-wrap: balance;
  overflow-y: auto;
  scrollbar-width: thin;
}

div.cell textarea {
  width: 100%;
  height: 100%;
  padding: 0.25em;
}

.cell .bottom-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.cell.button-container {
  opacity: 0.6;
  place-content: center;
}

.cell button.add-cell {
  height: 5lh;
  width: 6em;
  border-radius: 25%;
  border-color: #ccc;
}

div.cell input {
  width: 100%;
  height: llh;
  padding: 0.25em;
}

/* hover-to-show mode */
div.cell:hover {
  opacity: 1;
}

section#main.hover-to-show div.cell:not(:hover) .content {
  opacity: 0;
}